*{margin: 0;padding: 0;box-sizing: border-box; outline: none;}

.principal{
    display: grid;
    grid-template-columns:75% 25%;/*estou informando que quero 2 colunas*/
    grid-template-areas: 'cabecalho formulario'
                         'principal formulario'
                         'rodape formulario';
    height: 100vh;/* significa viewport heigth*/ 
    font-family: arial;
    color:#FFF;   
}
/*Cabeçalho*/
header{grid-area: cabecalho;}
.logo{display: flex;align-items: center;padding: 10px 30px;}
.logo img{width: 80px;}
.logo h1{font-family: Verdana; color: #274083;}

/*Principal*/

main{grid-area: principal;}

/* Formulario*/

aside{chartreuse;grid-area: formulario;}

/*Rodapé*/

footer{grid-area:rodape ;}